<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>docker</string>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/bash</string>
                <string>-c</string>
                <string>/opt/homebrew/bin/tart run --no-graphics --dir=neo:/Users/neo debian & rm -f /Users/neo/.tart/vms/debian/docker.sock; ssh -N -L /Users/neo/.tart/vms/debian/docker.sock:/var/run/docker.sock debian</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
        <key>StandardErrorPath</key>
        <string>/Users/neo/Library/Logs/docker.log</string>
        <key>StandardOutPath</key>
        <string>/Users/neo/Library/Logs/docker.log</string>
</dict>
</plist>