<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>docker</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/bin/vz</string>
                <string>run</string>
                <string>alpine</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <false/>
        <key>ExitTimeOut</key>
        <integer>60</integer>
        <key>StandardErrorPath</key>
        <string>/Users/neo/Library/Logs/vz.log</string>
        <key>StandardOutPath</key>
        <string>/Users/neo/Library/Logs/vz.log</string>
</dict>
</plist>